﻿@using System.Web.Optimization
@using System.Web.Mvc
@model TunnelApp.Subscription.Models.Clients.ClientsViewModel
@{
    ViewBag.Title = "Create New Client";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Home</a></li>
					<li><a href="@Url.Action("Index", "Manager")">Manager</a></li>
					<li><a href="@Url.Action("Index", "Clients")">Clients</a></li>
					<li><a href="@Url.Action("Create", "Clients")">New</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Create New Client</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Create", "Clients")" method="POST" class="form-horizontal">
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Name)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Name, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Website)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Website, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Logo)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Logo, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Description)</label>
							<div class="col-sm-6">
                                @Html.TextAreaFor(x => x.FORM.Description, new { @class = "form-control", @rows = "3" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Color)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Color, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdClientType)</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.FORM.IdClientType, Model.clientTypes, "Choose Category", new { @class = "form-control input-sm" })
							</div>
						</div>							
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Save" />
                        <a href="@Url.Action("Index", "Clients")" class="btn btn-primary">Cancel</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/manager/clients/create")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
