﻿@using System.Web.Optimization
@using System.Web.Mvc
@model TunnelApp.Subscription.Models.Faces.FacesViewModel
@{
    ViewBag.Title = "Create New Face";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Home</a></li>
					<li><a href="@Url.Action("Index", "Manager")">Management</a></li>
					<li><a href="@Url.Action("Index", "Faces")">Faces</a></li>
					<li><a href="@Url.Action("Create", "Faces")">New</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Create New Face</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Create", "Faces")" method="POST" class="form-horizontal">
				<div class="row-fluid">
                    <div class="form-group">
					    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdTunnel)</label>
						<div class="col-sm-6">
                            @Html.DropDownListFor(x => x.FORM.IdTunnel, Model.tunnels, "Choose Tunnel", new { @class = "form-control input-sm" })
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Name)</label>
						<div class="col-sm-6">
                            @Html.TextBoxFor(x => x.FORM.Name, new { @class = "form-control input-sm" })
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.RefChainage)</label>
						<div class="col-sm-6">
                            @Html.TextBoxFor(x => x.FORM.RefChainage, new { @class = "form-control input-sm" })
						</div>
					</div>
                    <div class="form-group">
				        <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Orientation)</label>
						<div class="col-sm-6">
                            @Html.TextBoxFor(x => x.FORM.Orientation, new { @class = "form-control input-sm" })
						</div>
					</div>
                    <div class="form-group">
				        <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Inclination)</label>
						<div class="col-sm-6">
                            @Html.TextBoxFor(x => x.FORM.Inclination, new { @class = "form-control input-sm" })
						</div>
					</div>							
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Save" />
                        <a href="@Url.Action("Index", "Faces")" class="btn btn-primary">Cancel</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/manager/faces/create")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>

