﻿@model TunnelApp.Subscription.Models.Users.UsersViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Edit Roles";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Manager")">Manager</a></li>
					<li><a href="@Url.Action("Index", "Users")">Users</a></li>
					<li>Edit Roles</li>
				</ol>
			</div>
			<section>
                
				<div class="row-fluid">
					<h3>Edit Roles</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("EditUser", "Users")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdUser)
				<div class="row-fluid">
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdClient)</label>
							<div class="col-sm-6">
                                @(Model.user.Client != null ? Model.user.Client.Name : "N/A")
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.DbUserName)</label>
							<div class="col-sm-4">
                                <label class="control-label">@Model.FORM.DbUserName</label>
                                 @Html.HiddenFor(m => m.FORM.DbUserName, @Model.FORM.DbUserName)
							</div>
						</div>
                    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.SelectedRoles)</label>
							<div class="col-sm-4">
                                @for (int i = 0; i < Model.FORM.SelectedRoles.Count(); i++)
                                {
                                   <div class="checkbox"><label>@Html.CheckBoxFor(m => m.FORM.SelectedRoles[i].Checked, new { @id = Model.FORM.SelectedRoles[i].IdSelectedRole}) @Model.FORM.SelectedRoles[i].SelectedRole </label></div>
                                   @Html.HiddenFor(m => m.FORM.SelectedRoles[i].IdSelectedRole)
                                   @Html.HiddenFor(m => m.FORM.SelectedRoles[i].SelectedRole)
                                }
							</div>
						</div>
                    					
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<input type="submit" class="btn btn-success" value="Guardar" />
                        <a href="@Url.Action("Index", "Users")" class="btn btn-primary  pull-right">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/manager/users/userEdit")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
