﻿@model TunnelApp.Subscription.Models.Users.UsersViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Edit User - Private Data";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Manager")">Manager</a></li>
					<li><a href="@Url.Action("Index", "Users")">Users</a></li>
					<li>Edit</li>
				</ol>
			</div>
			<section>
                
				<div class="row-fluid">
					<h3>Edit Private Data</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Edit", "Users")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdUser)
                    @Html.HiddenFor(m => m.FORM.DbUserName, @Model.FORM.DbUserName)
				<div class="row-fluid">
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdClient)</label>
							<div class="col-sm-6">
                                @(Model.user.Client != null ? Model.user.Client.Name : "N/A")
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.DbUserName)</label>
							<div class="col-sm-6">
                                @Model.FORM.DbUserName
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.FirstName)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.FirstName, new { @class = "form-control input-sm", @placeholder = "First Name" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.LastName)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.LastName, new { @class = "form-control input-sm", @placeholder = "Last Name" })
							</div>
						</div>
						
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Contact)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Contact, new { @class = "form-control input-sm", @placeholder = "Ej: 22225555 (Opcional)" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Email)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Email, new { @class = "form-control input-sm", @placeholder = "Ej: jsmith@gmail.com" })
							</div>
						</div>									
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">

                        
                        <input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        
                        @if (User.Identity.Name.ToLower() != Model.FORM.DbUserName.ToLower())
                        {
                        <a href="@Url.Action("Index", "Users")" class="btn btn-primary">Cancel</a>
                        }
                        else {
                            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back</a>
                        }
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/manager/users/edit")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
