﻿@model TunnelApp.Subscription.Models.Users.UsersViewModel
@using TunnelApp.Subscription.Models.Accounts
@using System.Web.Optimization
@{
    ViewBag.Title = "Manage Users";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
			    <li><a href="@Url.Action("Index", "Manager")">Management</a></li>
				<li><a href="@Url.Action("Index", "Users")">Users</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Manage Users</legend>
                <a href="@Url.Action("Create", "Users")" data-toggle="confirmation"  title="Nuevo Usuario" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Create New
                </a>

                <button class="btn btn-primary" type="button">
			        Total item <span class="badge">@(Model.Users.Count()-1)</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="list-manager" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Client")</th>
                            <th>@Html.DisplayName("User Name")</th>
                            <th>@Html.DisplayName("First Name")</th>
                            <th>@Html.DisplayName("Last Name")</th>
                            <th>@Html.DisplayName("Contact")</th>
                            <th>@Html.DisplayName("Email")</th>
                            <th>@Html.DisplayName("Created At")</th>
                            <th>Edit Private Data</th>
                            <th>Edit Roles</th>
                            <th>Delete</th>
                            <th>Reset Password   <i class="glyphicon glyphicon-question-sign" data-toggle='tooltip' data-placement='bottom' title="Para mayor información, hazme click"></i></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            if (item.UserName.ToLower().Equals(User.Identity.Name.ToLower())) { continue; }
                            <tr>
                                <td>@(item.Client != null ? item.Client.Name : "N/A")</td>
                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Contact)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                <td><a href="@Url.Action("Edit", "Users", new { IdUser = item.IdUser })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td><a href="@Url.Action("EditUser", "Users", new { IdUser = item.IdUser })" class="btn btn-default"><span class='fa fa-user'></span></a></td>
                                <td>
                                    @*@if (!Model.tieneMantenciones(item))
                                    {
                                    *@<a href="@Url.Action("Delete", "Users", new { IdUser = item.IdUser })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar a este usuario.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                    @*}*@
                                </td>
                                <td><a href="@Url.Action("ResetPassword", "Users", new { IdUser = item.IdUser })" class="btn btn-default" onclick="if(!confirm('Está a punto de resetear la contraseña a este usuario.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-repeat'></span></a> </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>

<div class="modal fade" id="ModalInfoResetPassword" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			    <h4 class="modal-title" id="myModalLabel">Resetear Contraseña</h4>
			</div>
			<div id="contenido-modal" class="modal-body">
                <p class="text-info">
                    Al hacer click a uno de estos botones, la contraseña del usuario volverá a un valor por defecto.
                </p>
                <p class="text-info">
                    Una vez realizada la acción de Reseteo, debe notificar al usuario el cambio de contraseña, indicándole que debe ingresar nuevamente al sistema.
                </p>
                <p class="text-info">
                    El valor por defecto es : (nombre de usuario)@@skava
                </p>
                
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/custom/manager/users/list")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
