﻿@model TunnelApp.Models.Parameters.Users.UsersViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Create New User";
}
<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Home</a></li>
					<li><a href="@Url.Action("Index", "Manager")">Manager</a></li>
					<li><a href="@Url.Action("Index", "Users")">Users</a></li>
					<li><a href="@Url.Action("Create", "Users")">New</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Create New User</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Create", "Users")" method="POST" class="form-horizontal">
				<div class="row-fluid">
                        <div class="form-group">
					        <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdClient)</label>
						    <div class="col-sm-6">
                                @Model.cs.Client.Name
						    </div>
					    </div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.FirstName)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.FirstName, new { @class = "form-control input-sm", @placeholder = "First Name" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.LastName)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.LastName, new { @class = "form-control input-sm", @placeholder = "Last Name" })
							</div>
						</div>
						
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Contact)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Contact, new { @class = "form-control input-sm", @placeholder = "Ej: 22225555 (Opcional)" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Email)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Email, new { @class = "form-control input-sm", @placeholder = "Ej: jsmith@gmail.com" })
							</div>
						</div>
                    <hr />
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.DbUserName)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.DbUserName, new { @class = "form-control input-sm", @placeholder = "jsmith" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Password)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Password, new { @class = "form-control input-sm", @type = "password" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">Repita Contraseña</label>
							<div class="col-sm-6">
                                <input type="password" class="form-control input-sm" />
							</div>
						</div>
                    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.SelectedRoles)</label>
							<div class="col-sm-6">
                                @for (int i = 0; i < Model.FORM.SelectedRoles.Count(); i++)
                                {
                                   <div class="checkbox"><label>@Html.CheckBoxFor(m => m.FORM.SelectedRoles[i].Checked, new { @id = Model.FORM.SelectedRoles[i].IdSelectedRole}) @Model.FORM.SelectedRoles[i].SelectedRole </label></div>
                                   @Html.HiddenFor(m => m.FORM.SelectedRoles[i].IdSelectedRole)
                                   @Html.HiddenFor(m => m.FORM.SelectedRoles[i].SelectedRole)
                                }
							</div>
						</div>	
                    <br />						
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Save" />
                        <a href="@Url.Action("Index", "Users")" class="btn btn-primary">Cancel</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/parameters/users/create")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>