﻿@model TunnelApp.Models.Accounts.LoginModel

@{
    ViewBag.Title = "Log In";
}

<section>
    <div class="col-md-6 col-md-offset-2">

        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }

	    <div class="bs-callout bs-callout-JJ">
		    <legend>Sign in with your client app code</legend>
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <br />
				<div class="form-group">
                    @Html.LabelFor(m => m.ClientAppCode, new { @class = "col-sm-4 control-label" })
					<div class="col-sm-6">
                        @Html.TextBoxFor(m => m.ClientAppCode, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.ClientAppCode, String.Empty, new { @class = "label label-danger" })
				    </div>
                </div>
		        @*<div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 control-label" })
			        <div class="col-sm-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @class = "label label-danger" })
			        </div>
		        </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox col-sm-4 control-label" })
			        <div class="col-sm-6">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
			        </div>
		        </div>*@
		        <div class="form-group">
		            <div class="col-sm-6 col-md-offset-4">
			            <button class="btn btn-primary btn-block" type="submit">
				            Access
				        </button>
			        </div>
		        </div>
               }
		</div>
    </div>		
</section>

<style>
.validation-summary-errors {
    background-color: #363839;
    border:0px solid #5CBA30;
    width: 400px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    font-size: 75%;
    white-space: nowrap;
    vertical-align: baseline;
    }
span.validation-summary-errors {
    border-bottom-color: #363839;
    display:block;
    }
    
 ul
{
    list-style-type: none;
}   
ul.validation-summary-errors {
    margin:0;
    padding:0;
    border-top:none;
    
    }
</style>
