﻿@using System.Web.Optimization
@model TunnelApp.Subscription.Models.Projects.ProjectsViewModel
@{
    ViewBag.Title = "Manage Projects";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
			    <li><a href="@Url.Action("Index", "Manager")">Management</a></li>
				<li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Manage Projects</legend>
                <a href="@Url.Action("Create", "Projects")" data-toggle="confirmation"  title="New Client" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Create New
                </a>

                <button class="btn btn-primary" type="button">
			        Total items <span class="badge">@Model.projects.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="list-manager" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Client")</th>
                            <th>@Html.DisplayName("Code")</th>
                            <th>@Html.DisplayName("Name")</th>
                            <th>@Html.DisplayName("Description")</th>
                            <th>@Html.DisplayName("Start Date")</th>
                            <th>@Html.DisplayName("Finish Date")</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.projects)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Client.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.FinishDate)</td>
                                <td><a href="@Url.Action("Edit", "Projects", new { IdProject = item.id })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    <a href="@Url.Action("Delete", "Projects", new { IdProject = item.id })" class="btn btn-default" onclick="if(!confirm('This item will be deleted.\nProceed?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>


@Scripts.Render("~/bundles/custom/manager/projects/list")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
