﻿@model TunnelApp.Subscription.Models.Accounts.LoginModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Ingreso a la aplicación";
}

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/bootstrap/css")

@Styles.Render("~/Content/external/css")

@Styles.Render("~/Content/external/login/css")

<section>
    <div class="login-header">
        <div class="logo"></div>
    </div>
    <div class="container">
        <div class="row loginContent">
            <div class="col-sm-4 col-sm-offset-4">

                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                    <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>@(TempData["Mensaje"])</strong>
                    </div>
                }

     
 
                @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-4 control-label" })
                
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, String.Empty, new { @class = "label label-danger" })
                
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 control-label" })
               
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @class = "label label-danger" })
               
                    </div>@*
                    <div class="form-group">
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox col-sm-4 control-label" })
              
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
        
                    </div>*@
                    <div class="form-group">
              
                            <button class="btn btn-primary btn-block" type="submit">
                                LOGIN
                            </button>
       
                    </div>
                }
   
            </div>
        </div>
    </div>
    
</section>		
