﻿@using System.Web.Optimization
@model TunnelApp.Subscription.Models.Accounts.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<section>
    <div class="row-fluid">
	    <h3>Change Password</h3>
	</div>
    @if (ViewBag.StatusMessage != null && !String.IsNullOrEmpty(ViewBag.StatusMessage))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@ViewBag.StatusMessage</strong>
                </div>
    }

    <br />
    <h5>Your are logged in as <strong>@User.Identity.Name</strong>.</h5>
    <br />

    @Html.Partial("_ChangePasswordPartial")
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
