﻿@using TunnelApp.Subscription.Models.Accounts
@if (Request.IsAuthenticated) {
    <nav class="collapse navbar-collapse">

					<ul class="nav navbar-nav"></ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown userMenu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span> 
								<strong>@LoginUtils.getCustomUser(User.Identity.Name).FirstName</strong>
								<span class="glyphicon glyphicon-option-vertical"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<div class="navbar-login">
										<div class="row">
											<div class="col-lg-8">
												<p class="text-left"><strong>@LoginUtils.getCustomUser(User.Identity.Name).FirstName @LoginUtils.getCustomUser(User.Identity.Name).LastName</strong></p>
                                                @*@foreach (var rol in LoginUtils.getCustomUser(User.Identity.Name).w_m_UsuarioRols)
                                                {
                                                    <p class="text-left">@rol.w_m_Rol.Nombre</p>
                                                }*@
                                                
                                                <p class="text-left small">@LoginUtils.getCustomUser(User.Identity.Name).Email</p>
											</div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="navbar-login">
										<div class="row">
											<div class="col-md-4 col-xs-4">
												<button dir="@Url.Action("Edit", "Users", new { IdUser = LoginUtils.getCustomUser(User.Identity.Name).IdUser })" data-toggle="tooltip" data-placement="bottom" title="Editar Datos" class="btn btn-warning btn-block">
													<span class="glyphicon glyphicon-edit"></span>
												</button>
                                                
											</div>
                                            <div class="col-md-4 col-xs-4">
												<button dir="@Url.Action("Manage", "Account")" data-toggle="tooltip" data-placement="bottom" title="Cambiar Contraseña" class="btn btn-warning btn-block">
													<span class="fa fa-lock"></span>
												</button>
											</div>
											<div class="col-md-4 col-xs-4">
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
												<button data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión" class="btn btn-danger btn-block" onclick="javascript:document.getElementById('logoutForm').submit()">
													<span class="glyphicon glyphicon-log-out"></span>
												</button>
                                            }
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>
		            </ul>
		        </nav>
}

