﻿@if (Request.IsAuthenticated)
{
<nav class="vertical_nav no-seleccionable vertical_nav__minify">
			<ul id="js-menu" class="menu">

				<li class="menu--item">
					<a href="@Url.Action("Index", "Home")" class="menu--link" title="Inicio">
						<span class="menu--icon glyphicon glyphicon-home" aria-hidden="true"></span>
						<span class="menu--label">Home</span>
					</a>
				</li>

                <li class="menu--item">
                    <a href="@Url.Action("Index", "Manager")" class="menu--link" title="Administración">
						<span class="menu--icon fa fa-cog"></span>
						<span class="menu--label">Settings</span>
					</a>
				</li>

                @*<li class="menu--item">
                    <a href="@Url.Action("Index", "Reporting")" class="menu--link" title="Reportes">
						<span class="menu--icon  glyphicon glyphicon-duplicate"></span>
						<span class="menu--label">Reportes</span>
					</a>
				</li>*@

			</ul>

			<button id="collapse_menu" class="collapse_menu">
				<i class="collapse_menu--icon  fa fa-fw"></i>
				<span class="collapse_menu--label">Collapse Menu</span>
			</button>
</nav>
}
