﻿@using System.Web.Optimization
@model TunnelApp.Subscription.Models.Subscriptions.SubscriptionsViewModel
@{
    ViewBag.Title = "Add/Remove Sub Modules";
}

<div class="row-fluid">
    <ol class="breadcrumb">
		<li><a href="@Url.Action("Index", "Home")">Home</a></li>
		<li><a href="@Url.Action("Index", "Manager")">Manager</a></li>
		<li><a href="@Url.Action("Index", "Subscriptions")">Subscriptions</a></li>
	    <li>Add/Remove Modules</li>
    </ol>
</div>

<section>
				<div class="row-fluid">
					<h3>Add/Remove Modules <small>(Client: @Model.subscription.Client.Name, Main Module: @Model.subscription.Subscription.MainModuleName)</small></h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("AddSubModules", "Subscriptions")" method="POST" class="form-horizontal">
                @Html.HiddenFor(x => x.FORM.IdClientSubscription)
				<div class="row-fluid">
				    <div class="form-group">
						<div class="col-md-5">
                            <div class="no-seleccionable select">
                            <h4 align="center">Availables</h4>
					        <ul id="clientes-disponibles" class="list-group">     
                                @for (int j = 0; j < Model.availableModules.Count(); j++)
                                {
                                <li id="@(Model.availableModules.ElementAt(j).IdSubscriptionModule)" class="list-group-item">@Model.availableModules.ElementAt(j).ModuleName</li>               
                                }
                                
                                
						    </ul>
                                <div id="vacio-disponibles">
                                @if (Model.availableModules.Count() == 0) 
                                {
                                    <p class="list-group-item">No Sub Modules are available now on this Module</p>
                                }
                                    </div>
                                </div>
                            <br />
                            <div id="boton-asociar">
                            
                                <button id="asociar-cliente" type="button" class="btn btn-success">
						        
						        <span class="title">Add Selected</span>
                                <span class="fa fa-angle-double-right"></span>
					        </button>
                            
                            </div>
                            
					    </div>
                        
                        <div class="col-md-2">
                            </div>

                        <div class="col-md-5">
                            <div class="no-seleccionable select">
                            <h4 align="center">Added</h4>
					        <ul id="clientes-asociados" class="list-group">     
                                @for (int j = 0; j < Model.addedModules.Count(); j++)
                                {
                                <li id="@(Model.addedModules.ElementAt(j).IdSubscriptionModule)" class="list-group-item">@Model.addedModules.ElementAt(j).ModuleName</li>               
                                }
                                
                                
						    </ul>
                                <div id="vacio-asociados">
                                @if (Model.addedModules.Count() == 0) 
                                {
                                    <p class="list-group-item">No Sub Modules were added to this subscription</p>
                                }
                                    </div>
                                </div>
                            <br />
                            <div id="boton-desasociar">
                            
                                <button id="desasociar-cliente" type="button" class="btn btn-primary pull-right">
						        <span class="fa fa-angle-double-left"></span>
						        <span class="title">Remove Selected</span>
					        </button> 
                            
                            </div>

                        </div>
					</div>			
				</div>
                     @Html.HiddenFor(m => m.FORM.SubModulesIds)
                    <div class="row">
                        <br />
                        <br />
                    </div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<button id="guardar-clientes" type="button" class="btn btn-success">Save Changes</button>
                        <a href="@Url.Action("Index", "Subscriptions")" class="btn btn-primary">Cancel</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/manager/subscriptions/manage-submodules")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
