﻿@using System.Web.Optimization
@using System.Web.Mvc
@model TunnelApp.Subscription.Models.Subscriptions.SubscriptionsViewModel
@{
    ViewBag.Title = "Edit Subscription";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Manager")">Manager</a></li>
					<li><a href="@Url.Action("Index", "Subscriptions")">Subscriptions</a></li>
					<li>Edit</li>
				</ol>
			</div>

			<section>
                
				<div class="row-fluid">
					<h3>Edit Subscription</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Edit", "Subscriptions")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdClientSubscription)
				<div class="row-fluid">
						<div class="form-group">
					    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdClient)</label>
						<div class="col-sm-6">
                           @Model.subscription.Client.Name
                           @Html.HiddenFor(x => x.FORM.IdClient)
                           @* @Html.DropDownListFor(x => x.FORM.IdClient, Model.clients, "Choose Client", new { @class = "form-control input-sm" })*@
						</div>
					</div>
                    <div class="form-group">
					    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSubscription)</label>
						<div class="col-sm-6">
                            @Model.subscription.Subscription.TierName
                            @Html.HiddenFor(x => x.FORM.IdSubscription)
                           @* @Html.DropDownListFor(x => x.FORM.IdSubscription, Model.modules, "Choose Module", new { @class = "form-control input-sm" })*@
						</div>
					</div>
                    @*<div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.clientAppCode)</label>
						<div class="col-sm-6">
                            @Html.TextBoxFor(x => x.FORM.clientAppCode, new { @class = "form-control input-sm" })
					    </div>
					</div>*@
                    <div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.startDate)</label>
					    <div class="col-sm-6">
                            <div class="input-group bootstrap-timepicker timepicker">
                                @*<input id="fecha-inicio" type="text" class="form-control input-small datepickershow" readonly="readonly" value="@(DateTime.Now.ToString("dd-MM-yyyy"))" />*@
                                @Html.TextBoxFor(x => x.FORM.startDate, new { @class = "form-control input-small datepickershow", @readonly = "readonly" })
								<span class="input-group-addon dateButton111">
                                    <i class="glyphicon glyphicon-calendar"></i>
							    </span>
                            </div>
					    </div>
				    </div>
                    <div class="form-group">
				        <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.endDate)</label>
						<div class="col-sm-6">
                            <div class="input-group bootstrap-timepicker timepicker">
                                @*<input id="fecha-termino" type="text" class="form-control input-small datepickershow" readonly="readonly" value="@(DateTime.Now.ToString("dd-MM-yyyy"))" />*@
                                @Html.TextBoxFor(x => x.FORM.endDate, new { @class = "form-control input-small datepickershow", @readonly = "readonly" })
								<span class="input-group-addon dateButton111">
                                    <i class="glyphicon glyphicon-calendar"></i>
							    </span>
                            </div>
				        </div>
			        </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.ReportType)</label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(x => x.FORM.ReportType, Model.reportTypes, new { @class = "form-control input-sm" })
                        </div>
                    </div>										
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Save" />
                        <a href="@Url.Action("Index", "Subscriptions")" class="btn btn-primary">Cancel</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/manager/subscriptions/edit")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
