﻿@using System.Web.Optimization
@model TunnelApp.Subscription.Models.Subscriptions.SubscriptionsViewModel
@{
    ViewBag.Title = "Manage Subscriptions";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
			    <li><a href="@Url.Action("Index", "Manager")">Management</a></li>
				<li><a href="@Url.Action("Index", "Subscriptions")">Subscriptions</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Manage Subscription</legend>
                <a href="@Url.Action("Create", "Subscriptions")" data-toggle="confirmation"  title="New Client" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Create New
                </a>

                <button class="btn btn-primary" type="button">
			        Total items <span class="badge">@Model.subscriptions.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="list-manager" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Logo")</th>
                            <th>@Html.DisplayName("Client")</th>
                            <th>@Html.DisplayName("Subscribed Tier")</th>
                            @*<th>@Html.DisplayName("Client App Code")</th>*@
                            @*<th>@Html.DisplayName("App Admin Site")</th>*@
                            @*<th>@Html.DisplayName("Prospection")</th>
                            <th>@Html.DisplayName("Registered Users")</th>
                            <th>@Html.DisplayName("Admin Website")</th>*@
                            @*<th>@Html.DisplayName("Added Modules")</th>
                            <th>@Html.DisplayName("Add/Remove Modules")</th>*@
                            <th>@Html.DisplayName("Start Date")</th>
                            <th>@Html.DisplayName("Expire Date")</th>
                            <th>Consumption</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.subscriptions)
                        {
                            <tr>
                                <td><img class="ImgLogo" src="@(item.Client.LogoUrl)" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Client.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Subscription.TierName)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.ClientAppCode)</td>*@
                                @*<td><a href="@(Model.appUrlPath + item.IdClientSubscription)" target="_blank" class="btn btn-default"><span class='glyphicon glyphicon-globe'></span></a></td>*@
                                
                                @*<td>
                                    <button type="button" name='@item.IdClientSubscription' value='@item.Subscription.MainModuleName' data-toggle='tooltip' data-placement='bottom' class="btn btn-default btn-modal-trigger-clientes"><span class='glyphicon glyphicon-th-list'></span></button>
                                    
                                </td>
                                <td><a href="@Url.Action("AddSubModules", "Subscriptions", new { IdClientSubscription = item.IdClientSubscription })" class="btn btn-default"><span class='glyphicon glyphicon-link'></span></a></td>*@
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                                <td><a href="@Url.Action("ManageConsumption", "Subscriptions", new { IdClientSubscription = item.IdClientSubscription })" class="btn btn-default"><span class='fa fa-usd'></span></a></td>
                                <td><a href="@Url.Action("Edit", "Subscriptions", new { IdClientSubscription = item.IdClientSubscription })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    <a href="@Url.Action("Delete", "Subscriptions", new { IdClientSubscription = item.IdClientSubscription })" class="btn btn-default" onclick="if(!confirm('This item will be deleted.\nProceed?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>

<div class="modal fade" id="ModalPreviewCategoria" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			    <h4 class="modal-title" id="myModalLabel"><span id="titulo-modal"></span></h4>
			</div>
			<div id="contenido-modal" class="modal-body">
                <ul id="listado-elementos-categoria">
                    
                </ul>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/custom/manager/subscriptions/list")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("GetSubscriptionSubModules", "Subscriptions")');
    });
</script>