﻿@using System.Web.Optimization
@model TunnelAppSubscription.Models.Subscriptions.ConsumptionViewModel
@{
    ViewBag.Title = "Manage Subscription Consumption";
}

<section class="container-fluid">
    <article>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Manager")">Management</a></li>
                <li><a href="@Url.Action("Index", "Subscriptions")">Subscriptions</a></li>
            </ol>
        </div>

        <article>
            <div class="bs-callout bs-callout-JJ">
                <legend>Manage Subscription Consumption</legend>
                <button class="btn btn-primary" type="button">
                    Total items <span class="badge">@Model.projects.Count()</span>
                </button>
            </div>
        </article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">
                <table id="list-manager-consumption" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Project Name")</th>
                            <th>@Html.DisplayName("Total Balance (in meters)")</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.projects)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                                <td><a href="@Url.Action("EditConsumption", "Subscriptions", new { IdClientSubscription = Model.subscription.IdClientSubscription , IdProject = item.id })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </article>
</section>
@Scripts.Render("~/bundles/custom/manager/subscriptions/consumption-list")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
