﻿@using System.Web.Optimization
@using System.Web.Mvc
@model TunnelApp.Subscription.Models.Tunnels.TunnelsViewModel
@{
    ViewBag.Title = "Edit Tunnel";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Manager")">Management</a></li>
					<li><a href="@Url.Action("Index", "Tunnels")">Tunnels</a></li>
					<li>Edit</li>
				</ol>
			</div>

			<section>
                
				<div class="row-fluid">
					<h3>Edit Tunnel</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Edit", "Tunnels")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdTunnel)
				<div class="row-fluid">
                    <div class="form-group">
					    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdProject)</label>
						<div class="col-sm-6">
                           @Model.tunnel.Project.Name
                           @Html.HiddenFor(x => x.FORM.IdProject)
						</div>
					</div>
                    <div class="form-group">
					    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdEsr)</label>
						<div class="col-sm-6">
                            @Html.DropDownListFor(x => x.FORM.IdEsr, Model.esrs, "Choose ESR", new { @class = "form-control input-sm" })
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Name)</label>
						<div class="col-sm-6">
                            @Html.TextBoxFor(x => x.FORM.Name, new { @class = "form-control input-sm" })
						</div>
					</div>
                    <div class="form-group">
				        <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Span)</label>
						<div class="col-sm-6">
                            @Html.TextBoxFor(x => x.FORM.Span, new { @class = "form-control input-sm" })
						</div>
					</div>								
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Save" />
                        <a href="@Url.Action("Index", "Tunnels")" class="btn btn-primary">Cancel</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/manager/tunnels/edit")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>