﻿@using System.Web.Optimization
@model TunnelApp.Subscription.Models.ModelTraining.ModelTrainingViewModel
@{
    ViewBag.Title = "Prediction Training";
}

<section class="container-fluid">
    <article>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Manager")">Management</a></li>
                <li><a href="@Url.Action("Index", "ModelTraining")">Prediction Training</a></li>
            </ol>
        </div>

        <article>
            <div class="bs-callout bs-callout-JJ">
                <legend>Prediction Training</legend>
                <button class="btn btn-primary" type="button">
                    Total Tunnels <span class="badge">@Model.tunnels.Count()</span>
                </button>
            </div>
        </article>

        <br />
       @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
       {
        <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@(TempData["Mensaje"])</strong>
        </div>
       }
        <br />
        <div class="row">
            <div class="table-responsive">
                <table id="list-manager" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Project")</th>
                            <th>Tunnel</th>
                            <th>Status</th>
                            <th>Error (%)</th>
                            <th>Created At</th>
                            <th>Last training</th>
                            <th>Train Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tunnels)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@(Model.getPrediction(item.id) == null ? "No model" : "Trained")</td>
                                <td>@(Model.getPrediction(item.id) == null ? "N/A" : String.Format("{0:0.00}", (Model.getPrediction(item.id).Rmse*100))+"%")</td>
                                <td>@(Model.getPrediction(item.id) == null ? "N/A" : Model.getPrediction(item.id).CreatedAt.Value.ToString())</td>
                                <td>@(Model.getPrediction(item.id) == null ? "N/A" : Model.getPrediction(item.id).UpdatedAt.Value.ToString())</td>
                                <td><a href="@Url.Action("Training", "ModelTraining", new { IdTunnel = item.id })" class="btn btn-default" title="@(Model.getPrediction(item.id) ==  null ? "Train model" : "Re-train")"><span class='fa fa-line-chart'></span></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>


@Scripts.Render("~/bundles/custom/manager/modeltraining/list")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
