﻿@using TunnelApp.Models.Accounts
@using System.Web.Optimization
@*@model MetricArts.JnJ.Mantenciones.Models.Home.IndexIngViewModel*@
@{
    ViewBag.Title = "Home";
}
@*@section featured {*@
<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					</ol>
				</div>
<article>
    <div class="row-fluid">
        <h3>Welcome @LoginUtils.getCustomUser(User.Identity.Name).FirstName!</h3>
    </div>
    <div class="bs-callout bs-callout-JJ">
        <legend>Geomechanical Classification Summary</legend>
        <div class="row top_tiles">
            @*<a href="@Url.Action("Bandeja", "PortalIngeniero")">*@
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    @*<div class="count">@Model.CantMantEnEsperaVisita</div>*@
                    <div class="count">10</div>
                    <h3>Pending</h3>
                    <p>Waiting for finish status.</p>
                </div>
            </div>
            @*</a>*@

            @*<a href="@Url.Action("Bandeja", "PortalIngeniero")">*@
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check"></i>
                    </div>
                    @*<div class="count">@Model.CantMantEnCurso</div>*@
                    <div class="count">20</div>
                    <h3>Completed</h3>
                    <p>Finished mappings.</p>
                </div>
            </div>
            @*</a>*@

            @*<a href="@Url.Action("Bandeja", "PortalIngeniero")">*@
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-th-list"></i>
                    </div>
                    @*<div class="count">@Model.CantMantDetenidas</div>*@
                    <div class="count">150</div>
                    <h3>Total</h3>
                    <p>Total Mappings.</p>
                </div>
            </div>
            @*</a>*@

            @*<a href="@Url.Action("Bandeja", "PortalIngeniero")">*@
            @*<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <div class="count">@Model.CantMantFinalizadas</div>
                    <div class="count">9</div>
                    <h3>Finalizadas</h3>
                    <p>Han sido marcadas como finalizadas.</p>
                </div>
            </div>*@
            @*</a>*@

            @*<a href="@Url.Action("Bandeja", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="count">@Model.CantMantCheckListRespondido</div>
                    <h3>Checklist Respondido</h3>
                    <p>Checklist que han sido respondidos.</p>
                </div>
            </div>
            </a>*@
        </div>
        
        @*<br />
        <legend>Repuestos</legend>
        <div class="row top_tiles">
            <a href="@Url.Action("Repuestos", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="count">@Model.CantRepEnEsperaAtencion</div>
                    <div class="count">11</div>
                    <h3>En Espera</h3>
                    <p>Solicitudes no atendidas aún.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Repuestos", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-mail-forward"></i>
                    </div>
                    <div class="count">@Model.CantRepEnviadas</div>
                    <div class="count">4</div>
                    <h3>Enviadas</h3>
                    <p>Solicitudes enviadas a distribuidor.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Repuestos", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check"></i><i class="fa fa-check"></i>
                    </div>
                    <div class="count">@Model.CantRepAceptadas</div>
                    <div class="count">8</div>
                    <h3>Confirmadas</h3>
                    <p>Solicitudes aceptadas por distribuidor.</p>
                </div>
            </div>
            </a>
        </div>*@
    </div>
</article>
@Styles.Render("~/Content/external/reporting/css")
@Styles.Render("~/Content/external/reporting/maps/css")
@Scripts.Render("~/bundles/external/reporting")
